.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 1024px){
  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 600px){
  .container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  width: 300px;
  height: auto;
  background-color: aqua;
  border-radius: 5%;
  border: 2px, solid, rgb(21, 89, 206);
}

.poster{
  height: 200px;
  width: 300px;
}
.content{
  padding: 5px;
}