#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.item {
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
